### Map Function

- This Function applies a given function to all items in an input list

- It returns a Map object

In [2]:
# Normal Way :

list1 = [1,2,3,4,5,6]

def square(x):
    return x**2

for ind,i in enumerate(list1):
    list1[ind] = i**2

print(list1)

[1, 4, 9, 16, 25, 36]

In [8]:
# Using Map Function

list1 = [1,2,3,4,5,6]

def square(x):
    return x**2

list(map(square,list1))

[1, 4, 9, 16, 25, 36]

In [9]:
## Lambda Function with Map 

numbers = [1,2,3,4,5,6]

list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [12]:
### Map Multiple Iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))

print(added_numbers)

[5, 7, 9]

In [14]:
## Map to convert a list of strings to integers

numbers_in_str = ['1','2','3','4','5']

numbers_in_int = list(map(int,numbers_in_str))
print(numbers_in_int)

[1, 2, 3, 4, 5]

In [17]:
words = ['apple','banana','cherry']

upper_words  = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [20]:
def get_name(person):
    return person['name']

people = [
    {
        'name' : 'Mohit',
        'age' : 21
    },
    {
        'name' : 'Faiz',
        'age' : 21
    }
]

list(map(get_name,people))

['Mohit', 'Faiz']