### Tuples

- Tuples are similar to lists but are immutable in nature(ie they cannot be changed)

- ordered collection 

- can store multiple types of data as collection

In [1]:
# Creating a Tuple

t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [2]:
# Another way of creating empty Tuple

t2 = tuple() 
print(t2)
print(type(t2))

()
<class 'tuple'>

In [4]:
# List can be converted into Tuple and vice versa

numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
# Mixed Tuple 

mixed_tuple = (1,"hello world",3.14,False)
print(mixed_tuple)

(1, 'hello world', 3.14, False)

In [10]:
# Accessing Tuple Elements 

numbers = (1,2,3,4,5,6,7,8,9)
print(numbers)
print(numbers[1])
print(numbers[4])
print(numbers[-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9)
2
5
9

In [12]:
# Tuples Operations 

mixed_tuple = (1,"hello world",3.14,False)
numbers = (1,2,3,4,5,6)

concat_tuple = numbers + mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, False)

In [13]:
mixed_tuple * 3

(1,
 'hello world',
 3.14,
 False,
 1,
 'hello world',
 3.14,
 False,
 1,
 'hello world',
 3.14,
 False)

In [14]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [15]:
# Immutable Nature of Tuples 

# Immutable : Elements cannot be changed once assigned

# List
lst = [1,2,3,4,5]
print(lst)

lst[1] = 'mohit'
print(lst)

# Tuple
tp1 = (1,2,3,4,5)
print(tp1)

tp1[1] = 'yash'
print(tp1)

[1, 2, 3, 4, 5]
[1, 'mohit', 3, 4, 5]
(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [16]:
## Tuple Methods 

# 1. count() -> count no of times an element is repeated in tuple
print(numbers.count(1))

1

In [19]:
# 2. index() -> returns the first index of the element passed to it

print(numbers[3])

4

In [20]:
# Packing and Unpacking Tuple 

# Packing Tuple
packed_tuple = 1,'mohit',3.14
print(packed_tuple)

(1, 'mohit', 3.14)

In [21]:
# Unpacking Tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
mohit
3.14

In [22]:
# Unpacking Tuple with *

numbers = (1,2,3,4,5,6)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [24]:
# Nested List

lst = [[1,2,3,4],[5,6,7,8],[1,'mohit',3.14,'c']]
print(lst[0][1])
print(lst[0][1:3])

2
[2, 3]

In [25]:
# Nested Tuples 

tup = ((1,2,3),('a','b','c'),(True,False))

print(tup[0])
print(tup[1][2])

(1, 2, 3)
c

In [27]:
# Iterating over nested Tuples 

for sub_tuple in tup :
    for item in sub_tuple:
        print(item,end=' ')
    print()

1 2 3
a b c
True False