### Sets

- Collection of Unique Items

- Sets are unordered meaning the elements do not have a specific order

- Sets do not allow Duplicate elements

In [1]:
# Create a Set :

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
empty_set = {}
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [5]:
# It does not allow duplicate element

set1 = {1,2,3,3,4,5,3,2}
print(set1)

{1, 2, 3, 4, 5}

In [7]:
## Basic Set Operations :

# Adding Elements

my_set = {1,2,3,4,5}
print(my_set)

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7}

In [8]:
# Removing Elements

my_set = {1,2,3,4,5}
print(my_set)

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [9]:
# Removing Random element using pop() method

my_set = {1,2,3,4,5,6,7}
print(my_set)

removed = my_set.pop()
print(my_set)
print("Removed Element :",removed)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
Removed Element : 1

In [10]:
# Clear all elements in the set

my_set = {1,2,3,4,5}
my_set.clear()

print(my_set)

set()

In [11]:
# Set Membership Test 

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [14]:
## Mathematical Operation

set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9,10}

In [15]:
# Union 

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
# Intersection 

intersect_set = set1.intersection(set2)
print(intersect_set)

{4, 5, 6, 7}

In [17]:
# Intersection Updata

print("Current Set1 :",set1)
set1.intersection_update(set2)
print("Set1 after Update :",set1)

Current Set1 : {1, 2, 3, 4, 5, 6, 7}
Set1 after Update : {4, 5, 6, 7}

In [20]:
set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9,10}

# Difference 

print(set1.difference(set2))
print(set1)

# Difference Update

set1.difference_update(set2)
print(set1)

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}

In [23]:
## Symmetric Difference :

set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9}

set1.symmetric_difference(set2)

{1, 2, 3, 8, 9}

In [26]:
## Sets Method 

set0 = {1,2,3,4,5,6}
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [27]:
list1 = [1,2,2,3,4,4,5]

# If i want to remove duplicate from the list :
set(list1)

{1, 2, 3, 4, 5}

In [31]:
## Counting Unique words in Text :

text = "In this tutorial we are discussin about this set"
words=text.split()

## Convert list of words of set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'are', 'we', 'about', 'set', 'discussin', 'this', 'tutorial'}
8