### SQL and SQLite

- SQL stands for (Structured Query Language)

- It is a standard language for managing and manipulating relational databases.

- SQLite is self-contained , serveless , and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
# Importing Libraries : 
import sqlite3

In [3]:
## Connecting to SQLite Database : 
connection = sqlite3.connect('example.db')
connection

In [4]:
# Creating a Cursor Objects : 
cursor = connection.cursor()

In [5]:
## Creating a Table : 
cursor.execute("""
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department Text
    )
""")

## Commit the Changes : 
connection.commit()

In [6]:
cursor.execute('''
    Select * from employees
''')

In [7]:
## Inserting data in SQLite Table : 
cursor.execute('''
    Insert into employees(name,age,department)
    values('Mohit',21,'Data Scientist')
''')

cursor.execute('''
    Insert into employees(name,age,department)
    values('Sumedh',21,'Web Developer')
''')

cursor.execute('''
    Insert into employees(name,age,department)
    values('Yash',22,'Finance')
''')

## Commit the Changes : 
connection.commit()

In [8]:
# Query the Data from the Table 
cursor.execute('''
    Select * from employees
''')
rows = cursor.fetchall()

## Print the queried Data
for row in rows :
    print(row)

(1, 'Mohit', 21, 'Data Scientist')
(2, 'Sumedh', 21, 'Web Developer')
(3, 'Yash', 22, 'Finance')

In [9]:
## Update the Data in the Table :
cursor.execute("""
    UPDATE employees 
    SET age = 25
    WHERE name = 'Mohit'
""")

## Commit the Changes :
connection.commit()

In [10]:
# Query the Data from the Table 
cursor.execute('''
    Select * from employees
''')
rows = cursor.fetchall()

## Print the queried Data
for row in rows :
    print(row)

(1, 'Mohit', 25, 'Data Scientist')
(2, 'Sumedh', 21, 'Web Developer')
(3, 'Yash', 22, 'Finance')

In [11]:
## Delete the Data from the Table :
cursor.execute('''
    DELETE FROM employees
    WHERE name = 'Yash'
''')

## Commit the Changes :
connection.commit()

In [12]:
# Query the Data from the Table 
cursor.execute('''
    Select * from employees
''')
rows = cursor.fetchall()

## Print the queried Data
for row in rows :
    print(row)

(1, 'Mohit', 25, 'Data Scientist')
(2, 'Sumedh', 21, 'Web Developer')

In [13]:
## Working with Sales Data : 
# Connect to an SQLite Database 
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a Table for Sales Data : 
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
''')

# Insert Data into the sales Table : 
sales_data = {
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
}

cursor.executemany('''
    INSERT INTO sales(date, product, sales, region)
    VALUES (?, ?, ?, ?)
''',sales_data)

# Commit the Changes :
connection.commit()

In [14]:
# Query the Data from the Table 
cursor.execute('''
    Select * from sales
''')
rows = cursor.fetchall()

## Print the queried Data
for row in rows :
    print(row)

(1, '2023-01-04', 'Product3', 250, 'West')
(2, '2023-01-01', 'Product1', 100, 'North')
(3, '2023-01-05', 'Product2', 300, 'North')
(4, '2023-01-03', 'Product1', 150, 'East')
(5, '2023-01-02', 'Product2', 200, 'South')

In [15]:
## Closing the Connection :
connection.close()